<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Strona Główna Zawodnika</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        body {
            background: linear-gradient(to right, #3A3A3A, #455A64);
        }
        #cardContainer {
            display: flex;
            justify-content: space-between;
        }
        .card {
            margin-right: 20px;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>

<!--Start Navigation Bar-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/index" style="color: #78909C"><strong>Klub Lekkoatletyczny</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/index">Strona Główna</a>
            </li>
            <form th:if="${#httpServletRequest.remoteUser == 'administrator'}" class="d-flex">
                <a class="nav-link active" href="/mainAdmin">Administrator</a>
            </form>
            <form th:if="${#httpServletRequest.remoteUser == 'trener'}" class="d-flex">
                <a class="nav-link active" href="/mainTrainer">Trener</a>
            </form>
            <form th:if="${#httpServletRequest.remoteUser == 'zawodnik'}" class="d-flex">
                <a class="nav-link active" href="/mainPlayer">Zawodnik</a>
            </form>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Kontakt</a>
            </li>
            <li class="nav-item dropdown" th:if="${#httpServletRequest.remoteUser != null}">
                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">Tabele</a>
                <ul class="dropdown-menu bg-dark">
                    <li th:if="${#httpServletRequest.remoteUser == 'administrator' || #httpServletRequest.remoteUser == 'trener' || #httpServletRequest.remoteUser == 'zawodnik'}"><a class="dropdown-item" href="/disciplines" style="color: white">Dyscypliny</a></li>
                    <li th:if="${#httpServletRequest.remoteUser == 'administrator'}"><a class="dropdown-item" href="/places" style="color: white">Obiekty</a></li>
                    <li th:if="${#httpServletRequest.remoteUser == 'administrator' || #httpServletRequest.remoteUser == 'trener'}"><a class="dropdown-item" href="/trainers" style="color: white">Trenerzy</a></li>w
                    <li th:if="${#httpServletRequest.remoteUser == 'administrator' || #httpServletRequest.remoteUser == 'trener' || #httpServletRequest.remoteUser == 'zawodnik'}"><a class="dropdown-item" href="/players" style="color: white">Zawodnicy</a></li>
                    <li th:if="${#httpServletRequest.remoteUser == 'administrator' || #httpServletRequest.remoteUser == 'trener' || #httpServletRequest.remoteUser == 'zawodnik'}"><a class="dropdown-item" href="/addresses" style="color: white">Adresy</a></li>
                </ul>
            </li>
        </ul>
        <ul class="navbar-nav">
            <form method="post" th:action="@{/index}" th:if="${#httpServletRequest.remoteUser != null}" class="d-flex">
                <li class="nav-item"><a class="nav-link" href="/index" style="color: #78909C">Zalogowany jako <b style="text-transform:capitalize">[[${#httpServletRequest.remoteUser}]]</b></a></li>
                <button class="btn btn-primary" type="submit" onclick="successfullyLogout()" value="Sign Out" style="font-size: 16px; padding: 7px 20px;">Wyloguj</button>
            </form>
            <form th:unless="${#httpServletRequest.remoteUser != null}" class="d-flex">
                <a href="/login" style="font-size: 16px; padding: 7px 20px;" class="btn btn-primary">Zaloguj</a>
            </form>
        </ul>
    </div>
</nav>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-bottom">
    <div class="container-fluid d-flex justify-content-start align-items-end">
        <a class="navbar-brand" href="">
            <img src="https://www.unipile.com/wp-content/uploads/2022/06/logo-facebook-blanc.png.webp" style="width:40px;" class="rounded-0">
        </a>
        <a class="navbar-brand" href="">
            <img src="https://www.unipile.com/wp-content/uploads/2022/11/logo-messenger-blanc.png.webp" style="width:40px;" class="rounded-0">
        </a>
        <a class="navbar-brand" href="">
            <img src="https://www.unipile.com/wp-content/uploads/2022/09/logo-instagram-blanc-1.png.webp" style="width:40px;" class="rounded-0">
        </a>
    </div>
</nav>
<!--End Navigation Bar-->

<div class="container-fluid text-center" style="color: white ;height: 35vh; padding-top: 50px;">
    <br><br>
    <div><h1 style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">Witaj Zawodnik!</h1></div><br>
    <div class="container-fluid text-center" style="color: white; width: 65%; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">
        <div id="cardContainer" style="">

            <div id="card1" class="card bg-dark" style="width:400px">
                <img class="card-img-top" src="https://ccms.wip.pl/uploads/files/photos/89ee304620039cf31f19ccc4cd9eb217fca8a6f8_1.png"  style="width:100%; height: 150px">
                <div class="card-body">
                    <h4 class="card-title" style="color: white">Dyscypliny</h4>
                    <div style="display: flex; gap: 10px; align-items: center;">
                        <a href="disciplines" class="btn btn-secondary" style="flex: 1; padding: 20px;">Zobacz tabelę</a>
                    </div>
                </div>
            </div>

            <div id="card4" class="card bg-dark" style="width:400px">
                <img class="card-img-top" src="https://rewallution.pl/motives/11/117314405_s.jpg"  style="width:100%; height: 150px">
                <div class="card-body">
                    <h4 class="card-title" style="color: white">Zawodnicy</h4>
                    <div style="display: flex; gap: 10px; align-items: center;">
                        <a href="players" class="btn btn-secondary" style="flex: 1; padding: 10px;">Zobacz tabelę</a>
                        <a href="players/add" class="btn btn-light" style="flex: 1; padding: 10px;">Dodaj zawodnika</a>
                    </div>
                </div>
            </div>

            <div id="card5" class="card bg-dark" style="width:400px">
                <img class="card-img-top" src="https://www.tapetus.pl/obrazki/n/131756_domy-nowoczesne-osiedle.jpg"  style="width:100%; height: 150px">
                <div class="card-body">
                    <h4 class="card-title" style="color: white">Adresy</h4>
                    <div style="display: flex; gap: 10px; align-items: center;">
                        <a href="addresses" class="btn btn-secondary" style="flex: 1; padding: 10px;">Zobacz tabelę</a>
                        <a href="addresses/add" class="btn btn-light" style="flex: 1; padding: 10px;">Dodaj adresy</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<br><br><br>

</body>
</html>