<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dodaj nową dyscyplinę</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
<div class="container text-center">
    <div><h1>Dodaj nową dyscyplinę</h1> </div>
    <form th:action="@{/places/save}" th:object="${place}" method="post" style="max-width: 500px; margin: 0 auto">
        <div class="m-3">
            <div class="form-group row">
                <label class="col-form-label col-sm-4" for="placeName">Nazwa Obiektu: </label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{placeName}" id="placeName" class="form-control" required/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-4" for="placeName">Powierzchnia: </label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{area}" id="area" class="form-control" required/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-4" for="seatsNumber">Liczba Miejsc: </label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{seatsNumber}" id="seatsNumber" class="form-control" required/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-4" for="lockerRoomNumber">Liczba szatni: </label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{lockerRoomNumber}" id="lockerRoomNumber" class="form-control"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-4" for="toiletNumber">Liczba toalet: </label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{toiletNumber}" id="toiletNumber" class="form-control">
                </div>
            </div>
            <div class="m-3">
                <div class="form-group row">
                    <label class="col-form-label col-sm-4" for="roof">Zadaszenie: </label>
                    <div class="col-sm-8">
                        <select th:field="*{roof}" id="roof" class="form-control" required>
                            <option value="Tak">Tak</option>
                            <option value="Nie">Nie</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-form-label col-sm-4" id="addressId" for="addressId">Numer adresu: </label>
                <div class="col-sm-8">
                    <select th:field="*{address}" class="form-control" required>
                        <th:block block th:each="address : ${addressList}">
                            <option th:text="${address.addressId}" th:value="${address.addressId}"></option>
                        </th:block>
                    </select>
                </div>
            </div>

            <div class="text-center p-3">
                <button type="submit" class="btn btn-primary">Zapisz</button>
            </div>
        </div>
    </form>

</div>
</body>
</html>
