<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Poczty Manager</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">Klub Lekkoatletyczny</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/index}">Home</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/main}">Main</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:inline="text" style="color:lightskyblue;">Zalogowany jako <b style="text-transform:capitalize">[[${#httpServletRequest.remoteUser}]]</b></a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<div align="center">
    <h1>Poczty</h1>

    <table border="1" cellpadding="10">

        <thead>
        <tr>
            <th>Nr_poczty</th>
            <th>Kod_pocztowy</th>
            <th>Miasto_poczty</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="poczta : ${listSale}">
            <td th:text="${poczta.nr_poczty}">Nr_poczty</td>
            <td th:text="${poczta.kod_pocztowy}">Kod_pocztowy</td>
            <td th:text="${poczta.miasto_poczty}">Miasto_poczty</td>
        </tr>
        </tbody>

    </table>
</div>
<br>

<div align="center">
<!-- Przycisk do cofania na poprzednią stronę -->
<button class="btn btn-secondary" onclick="goBack()">Wróć</button>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/script.js}"></script>

</body>
</html>