<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dodaj nowego trenera</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
<div class="container text-center">
    <div><h1>Dodaj nowego trenera</h1> </div>
    <form th:action="@{/trainers/save}" th:object="${trainer}" method="post" style="max-width: 500px; margin: 0 auto">
        <div class="m-3">
            <div class="form-group row">
                <label class="col-form-label col-sm-4" for="name">Imię: </label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{name}" id="name" class="form-control" required/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-4" for="name">Nazwisko: </label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{surname}" id="surname" class="form-control" required/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-4" for="birthDate">Data urodzenia: </label>
                <div class="col-sm-8">
                    <input type="date" th:field="*{birthDate}" id="birthDate" class="form-control" required/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-4" for="pesel">Pesel: </label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{pesel}" id="pesel" class="form-control" required/>
                </div>
            </div>
            <div class="m-3">
                <div class="form-group row">
                    <label class="col-form-label col-sm-4" for="sex">Płeć: </label>
                    <div class="col-sm-8">
                        <select th:field="*{sex}" id="sex" class="form-control" required>
                            <option value="">Wybierz płeć</option>
                            <option value="M">Mężczyzna</option>
                            <option value="K">Kobieta</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-4" for="accountNumber">Numer konta: </label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{accountNumber}" id="accountNumber" class="form-control"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-4" for="hireDate">Data zatrudnienia: </label>
                <div class="col-sm-8">
                    <input type="date" th:field="*{hireDate}" id="hireDate" class="form-control" required/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-4" for="phone">Telefon: </label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{phone}" id="phone" class="form-control" required/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-4" for="email">Email: </label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{email}" id="email" class="form-control"/>
                </div>
            </div>
            <div class="text-center p-3">
                <button type="submit" class="btn btn-primary">Zapisz</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>